<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
	</head>
	<body>
		<div class="grid-container">
			<header>

				{{ include('includes/_navbar.html.twig') }}
				{% if app.user %}
					<div class="mb-3">
						Vous êtes connectés en tant
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
						{% if is_granted("ROLE_ADMIN") %}
							<br>
							Administrateur
						</div>
					{% endif %}
				{% endif %}
			</header>
			{% block body %}{% endblock %}


			{% block javascripts %}
				{# // <script src="{{ asset("js/jquery.js") }}"></script> #}
				<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
				<script language="javascript" src="{{ asset("js/javascript.js") }}"></script>
			{% endblock %}
		</div>
	</body>
</html>
