{% extends 'layouts/base.html.twig' %}

{% block title %}Sortie index
{% endblock %}

{% block body %}
	<h1>Sortie index</h1>
	<div class="cell grid-x grid-margin-x">
		<form action="{{ path('app_sortie_index') }}" method="get">
			<div class="grid-container">
				<div class="grid-x medium-6 cell">
					<label >Site : </label>
					<select name="select_site" id="select_site">
					
						<option value="-1">aucun site</option>
						{# {% if sites is defined %}
						{% for site in sites %}
						<option value="{{site.id}}">{{site.nom}}</option>
						{% endfor %}
						{% endif %} #}
					</select>
				</div>
				<div class="grid-x medium-6 cell">
					
					<label >Entre </label>
					<input type="date" name="date_dateDebut" id="date_dateDebut">
					<label > et </label>
					<input type="date" name="date_dateFin" id="date_dateFin">
					
					<div class=" grid-x cell">
						<div class="cell">
							<input type="checkbox" name="checkbox_orga" id="checkbox_orga"><label>Les sorties que j'organise</label>
						</div>
						<div class="grid-x cell">
							<input type="checkbox" name="checkbox_inscris" id="checkbox_inscris"><label>les sorties auquelles je suis inscris</label>
						</div>
						<div class="grid-x cell">
							<input type="checkbox" name="checkbox_non_inscris" id="checkbox_non_inscris"><label>les sorties auquelles je ne suis pas inscris</label>
						</div>
						<div class="grid-x cell">
							<input type="checkbox" name="checkbox_passees" id="checkbox_passees"><label>Les sorties passées</label>
						</div>
					</div>
				</div>
				<div class="grid-x medium-6 cell">
					<button class="btn button secondary ">filtrer</button>
				</div>
			</div>
		</form>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="cell">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Datedebut</th>
						<th>Datecloture</th>
						<th>NbPlacesTotal</th>
						<th>Etatsortie</th>
						{# <th>UrlPhoto</th> #}
						{# <th>Inscrit</th> #}
						<td>Organisateur</td>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}
						<tr>
							<td>{{ sortie.nom }}</td>
							<td>{{ sortie.datedebut ? sortie.datedebut|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ sortie.datecloture ? sortie.datecloture|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ sortie.nbinscriptionsmax }}</td>
							<td>{{ sortie.etatnoetat.libelle }}</td>
							<td>{{ sortie.organisateur.prenom }}
								{{ sortie.organisateur.nom}}</td>
							<td>
								<a class="btn button primary" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
								{% if is_granted("ROLE_USER") %}
									<a class="btn button warning" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">
										<i class="fa-solid fa-pen"></i>
									</a>
									<a class="btn button alert" href="{{ path('app_sortie_signout', {'id': sortie.id}) }}">
										<i class="fa-solid fa-trash"></i>
									</a>
								{% endif %}
							</td>
						</tr>
						{% else %}
						<tr>
							<td colspan="10">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<a class="btn button secondary" href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
		