{% extends 'layouts/base.html.twig' %}

{% block title %}Sortie index
{% endblock %}

{% block body %}
	<h1>Sortie index</h1>
	{# <div class="cell grid-y grid-margin-y">
		<form action="#" method="get">
			<div class="cell">
				<input type="text" name="textTest"><label>Les sorties que j'organise</label>
			</div>
			<div class="cell">
				<button class="btn button secondary ">filtrer</button>
			</div>
		</form>
	</div> #}
	<div class="grid-x grid-margin-x">
		<div class="cell">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Datedebut</th>
						<th>Datecloture</th>
						<th>NbPlacesTotal</th>
						<th>Etatsortie</th>
						{# <th>UrlPhoto</th> #}
						{# <th>Inscrit</th> #}
						<td>Organisateur</td>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}
						<tr>
							<td>{{ sortie.nom }}</td>
							<td>{{ sortie.datedebut ? sortie.datedebut|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ sortie.datecloture ? sortie.datecloture|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ sortie.nbinscriptionsmax }}</td>
							<td>{{ sortie.etatnoetat.libelle }}</td>
							<td>{{ sortie.organisateur.prenom }}
								{{ sortie.organisateur.nom}}</td>
							<td>
								<a class="btn button primary" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
								{% if is_granted("ROLE_USER") %}
									<a class="btn button warning" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">
										<i class="fa-solid fa-pen"></i>
									</a>
								{% endif %}
							</td>
						</tr>
						{% else %}
						<tr>
							<td colspan="10">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<a class="btn button secondary" href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
		