{% extends 'layouts/base.html.twig' %}

{% block title %}Sortie index
{% endblock %}

{% block body %}
<div class="grid-container">
	<h1>Sortie index</h1>
	<form action="{{ path('app_sortie_index') }}" method="post">
		<div class="grid-x grid-padding-x">
			<div class="grid-container">
				<div class="grid-x grid-padding-x">
					<div class="medium-12 large-12 cell">
						<h4>
							Filter :
						</h4>
					</div>
					<div class="medium-7 large-7 cell">
						<div class="cell">
							<div class="input-group">
								<label>Site :
								</label>
								<select name="select_site" id="select_site">
									<option value="aucun site">aucun site</option>
									{# <option value="site1">site1</option> #}
									{% if sites is defined %}
									{% for site in sites %}
									<option value="{{site.id}}">{{site.nom}}</option>
									{% endfor %}
									{% endif %}
								</select>
							</div>
						</div>
						<div class="cell">
							<div class="input-group">
								<label>Le nom de la sortie :</label>
									<input type="text" name="nom_sortie" id="nomSortie"/>
							</div>
							<div class="input-group">
								<label>Entre 
								</label>
									<input type="date" name="date_dateDebut" id="date_dateDebut">
								<label>	 et </label>
								<input type="date" name="date_dateFin" id="date_dateFin">
							</div>
						</div>
					</div>	
					<div class="medium-4 large-4 cell">
						<div class=" grid-x cell">
							<div class="cell">
								<input type="checkbox" name="checkbox_orga" id="checkbox_orga" {{ check_orga is defined and check_orga ?"Checked":"" }}><label>Les sorties que j'organise</label>
							</div>
							<div class="cell">
								<input type="checkbox" name="checkbox_inscris" id="checkbox_inscris" {{ check_inscris is defined and check_inscris ?"Checked":"" }}><label>Les sorties auquelles je suis inscris</label>
							</div>
							<div class="cell">
								<input type="checkbox" name="checkbox_non_inscris" id="checkbox_non_inscris" {{ check_non_inscris is defined and check_non_inscris ?"Checked":"" }}><label>Les sorties auquelles je ne suis pas inscris</label>
							</div>
							<div class="cell">
								<input type="checkbox" name="checkbox_passees" id="checkbox_passees" {{ check_passees is defined and check_passees ?"Checked":"" }}><label>Les sorties passées</label>
							</div>
						</div>
					</div>
					<div class="medium-1 large-1 cell">
						<button class="btn button secondary ">filtrer</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="grid-x grid-padding-x">
		<div class="cell">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Datedebut</th>
						<th>Datecloture</th>
						<th>NbPlacesTotal</th>
						<th>Etatsortie</th>
						{# <th>UrlPhoto</th> #}
						{# <th>Inscrit</th> #}
						<td>Organisateur</td>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}
					{% if "now"|date("Y-m-d") < sortie.datecloture|date_modify("+30 days")|date("Y-m-d") %}
							<tr>
								<td>{{ sortie.nom }}</td>
								<td>{{ sortie.datedebut ? sortie.datedebut|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ sortie.datecloture ? sortie.datecloture|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ sortie.nbinscriptionsmax }}</td>
								<td>{{ sortie.etatnoetat.libelle }}</td>
								<td>
									<a href="{{ path('app_participant_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}
										{{ sortie.organisateur.nom}}</a>
									</td>
									<td>
										<a class="btn button primary" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">
											<i class="fa-solid fa-eye"></i>
										</a>
										{% if is_granted("ROLE_USER") and app.user.id != sortie.organisateur.id or is_granted("ROLE_ADMIN") %}
										{% if sortie.dateDebut|date("Y-m-d") > "now"|date("Y-m-d") %}
										<a class="btn button success" href="{{ path('app_sortie_signup', {'id': sortie.id}) }}">
												<i class="fa-solid fa-plus"></i>
											</a>
											{% endif %}
										{% for participant in sortie.participants %}
											{% if app.user.id == participant.id %}
											<a class="btn button alert" href="{{ path('app_sortie_signout', {'id': sortie.id}) }}">
													<i class="fa-solid fa-trash"></i>
												</a>
											{% endif %}
											{% endfor %}
											{% endif %}
											{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") and app.user.id == sortie.organisateur.id %}
										<a class="btn button warning" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">
											<i class="fa-solid fa-pen"></i>
										</a>
										{% endif %}
								</td>
							</tr>
						{% else %}
							{# <tr>
								<td colspan="10">no records found</td>
							</tr> #}
							{% endif %}
							{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<a class="btn button secondary" href="{{ path('app_sortie_new') }}">Create new</a>
</div>
{% endblock %}
