{% extends 'layouts/base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="grid-x">
            <div class="cell medium-2 large-2">
                <a class="btn button warning" href="{{ path('app_ville_index') }}">Retour</a>
            </div>
            <div class="cell medium-2 large-2">
                <a class="btn button primary" href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
            </div>
            <div class="cell medium-4 large-4">
                {{ include('ville/_delete_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
